  <hr />
  <div class="footer clearfix">
    <ul class="list-inline pull-left">
      <li><a href="http://acousticbrainz.org">acousticbrainz.org</a></li>
      <li><a href="http://blog.musicbrainz.org/category/acousticbrainz/">Blog</a></li>
      <li><a href="https://twitter.com/AcousticBrainz">Twitter</a></li>
      <li><a href="http://github.com/metabrainz/acousticbrainz-server/">GitHub</a></li>
      <li><a href="http://tickets.musicbrainz.org/browse/AB">Bug Tracker</a></li>
    </ul>
    <ul class="list-inline pull-right">
      <li><a href="http://mtg.upf.edu" title="UPF"><img src="/static/img/mtg_upf.png" /></a></li>
      <li><a href="https://musicbrainz.org" title="MusicBrainz"><img src="static/img/musicbrainz.svg" /></a></li>
    </ul>
  </div>
