<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ab-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="/">
        <img src="/static/img/navbar_logo.svg" alt="AcousticBrainz" />
        <span class="alpha">labs</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="ab-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">&nbsp;</a></li>
      </ul>
    </div>

  </div>
</nav>

