{% extends "base.html" %}

{% block js %}
<script>
  $(function() {
    $("#id_q").autocomplete({
      source: "/autocompletegenre",
      minLength: 2,
    });

    $("#genresubmit").submit(function(e) {
        e.preventDefault();
        var v = $("#id_q").val();
        console.debug("submit");
        console.debug(v);
        window.location = "/genre/" + v;
    });
  });
  </script>
{% endblock %}

    {% block body %}
    <form id="genresubmit">
        <input id="id_q" type="text">
        <input type="submit" value="Show">
    </form>

    {% endblock %}

