{% extends "base.html" %}

{% block js %}
<script>
  var trackmbid = '';
  $(function() {
    $("#inputgenre").autocomplete({
      source: "/autocompletegenre",
      minLength: 2,
    });

    $("#genresubmit").submit(function(e) {
        e.preventDefault();
        var v = $("#id_q").val();
        console.debug("submit");
        console.debug(v);
        window.location = "/genre/" + v;
    });

    $("#inputtrack").autocomplete({
      source: "/autocompletetrack",
      minLength: 2,
    });

    $("#inputtrack").on("autocompleteselect", function (e, ui) {
        e.preventDefault(); // prevent the "value" being written back after we've done our own changes
        this.value = ui.item.label;
        trackmbid = ui.item.value;
    });

    $("#tracksubmit").submit(function(e) {
        e.preventDefault();
        window.location = "/track/" + trackmbid;
    });
  });
  </script>
{% endblock %}

    {% block body %}
    Search for genre:
    <form id="genresubmit">
        <input id="inputgenre" type="text">
        <input type="submit" value="Show">
    </form>
    <p>
    Search for track:
    <form id="tracksubmit">
        <input id="inputtrack" type="text">
        <input type="submit" value="Show">
    </form>

    {% endblock %}

